.btn {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 20px;
  color: #fff;
  text-align: center;
  border: 1px solid @blue;
  border-radius: 20px;
  background-color: @blue;
  .transition();
  
  &:hover,
  &:active {
    opacity: 0.7;
    .transition();
  }
}

.btn--white {
  color: @blue;
  background-color: rgba(255,255,255,0);
  
  &:hover,
  &:active {
    opacity: 1;
    background-color:  rgba(74, 123, 164, 0.1);
  }
}

.btn--grey {
  color: @blue;
  background-color:  rgba(74, 123, 164, 0.1);
  border: 0;
  
  &:hover,
  &:active {
    opacity: 1;
    background-color:  rgba(74, 123, 164, 0.2);
  }
}

.basket__remove,
.close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
//  font-size: 20px;
  opacity: 0.5;
}
