.header {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(74, 123, 164, 0.01);
}

.header__top,
.header__bottom {
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header__top {
  padding-top: 9px;
  padding-bottom: 9px;
  background-color: rgb(74, 123, 164);
}

.header__bottom {
  padding-top: 10px;
  padding-bottom: 10px;
}

.header__list {
  .reset();
  list-style: none;
  display: flex;
  align-items: center;
  color: #fff;
  
  li {
    margin-right: 30px;
    
    a {
      .transition();
      
      &:hover,
      &:active {
        color: #ff7f00;
        .transition();
      }
    }
  }
}

.logo {
  max-width: 120px;
}

.header__block {
  align-self: flex-start;
  font-size: 12px;
  
  p {
    margin: 0;
    font-size: 16px;
  }
}

.header__phone {
  display: block;
  margin-bottom: 5px;
  font-size: 19px;
  font-weight: 700;
  
  &:last-of-type {
    margin-bottom: 0;
  }
}

.header__icon,
.search__btn,
.header__phone,
.header__link {
  .transition();
  
  &:hover,
  &:active {
    color: @orange;
    .transition();
  }
}

.header__link {
  display: block;
  position: relative;
  padding-left: 20px;
  font-size: 16px;
  
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'fabrica';
  }
  
  &--tg::before {
    content: "\e924";
  }
  &--mail::before {
    content: "\e90a";
  }
  &--wa::before {
    content: "\e928";
  }
  &--contacts::before {
    content: "\e92b";
  }
}

.header__user {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__icon {
  position: relative;
  display: block;
  margin-left: 20px;
  padding-left: 28px;
  color: #fff;
  cursor: pointer;
  
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 20px;
    font-family: 'fabrica';
  }
  
  &--like {
    width: 20px;
    height: 20px;
    
    &::before {
      content: "\e904";
    }
  }
  
  &--compare {
    width: 20px;
    height: 20px;
    
    &::before {
      content: "\e90e";
    }
  }
  
  &--basket {
    &::before {
      content: "\e900";
    }
  }
}
