.info {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: rgba(34, 41, 54,.03);
  box-shadow: 0 -1px 0 0 rgba(34, 41, 54,.1),0 1px 0 0 rgba(34, 41, 54,.1);
  
  .title-3 {
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  ul {
    .reset();
    list-style: none;
    
    li {
      position: relative;
      padding-left: 10px;
      margin-bottom: 10px;
      
      &::before {
        content: "-";
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
  
  &--content {
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: rgba(255,255,255,0);
    box-shadow: none;
    
    .title-3 {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
  
  a {
    color: @blue;
    text-decoration: underline;
    
    &:hover,
    &:active {
      text-decoration: none;
    }
  }
}

.info__wrap {
  padding: 30px;
  background-color: #fff;
}
